<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="RickAndMorty">
        <groups>
            <run>
                <include name="RickAndMortyGet"/>
            </run>
        </groups>
    </test>

    <test name="JSONPlaceholder">
        <groups>
            <run>
                <include name="JsonPlaceholderGet"/>
                <include name="JsonPlaceholderPost"/>
                <include name="JsonPlaceholderPut"/>
                <include name="JsonPlaceholderPatch"/>
                <include name="JsonPlaceholderDelete"/>
            </run>
        </groups>
    </test>
</suite>
